{% extends "base.html" %}
{% load static %}
{% block title %}<title>Company Sign up Page</title>{% endblock %}
{% block top %}
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>Newbility<span class="fs-5">Job Assistant</span></h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
            </div>
            <a href="https://build.affinidi.com/" class="btn btn-outline-light text-light py-2 px-4 ms-5 m-3">Contact us</a>
        </div>
    </nav>
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        
    </div>
</div>
{% endblock %}
{% block content %}

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                            <h2 class="mt-2">Register your company with us</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="companyname" placeholder="Company Name">
                                            <label for="companyname">Registered Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="UEN" placeholder="Unique Entity Number">
                                            <label for="UEN">Unique Entity Number (UEN) </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="registereddate" placeholder="DD/MM/YYYY">
                                            <label for="registereddate">Date of Incorporation</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="email" id="email" class="form-control" placeholder="name@example.com" />
                                            <label for="email">Company Email Address</label>
                                        </div>
                                    </div>
									<div class="col-md-12">
										<div class="form-floating">
											<input type="password" id="password" class="form-control" placeholder="Password"/>
											<label for="password">Password</label>
										</div>
									</div>
									<div class="col-12">
                                        <div class="form-floating">
											<input class="form-control" type="file" id="Businessdocs" multiple />
											<label for="Businessdocs" class="form-label">Upload business documents</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- <button class="btn btn-primary w-100 py-3" type="submit">Sign up</button> -->
                                        <a class="btn btn-primary w-100 py-3" href="{% url 'login' %}">Sign up</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        {% endblock %} 