{% extends "base.html" %}
{% load static %}
{% block title %}<title>Job info</title>{% endblock %}
{% block top %}
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>Newbility<span class="fs-5">Job Assistant</span></h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
            </div>
            <a href="https://build.affinidi.com/" class="btn btn-outline-light text-light py-2 px-4 ms-5 m-3">Contact us</a>
        </div>
    </nav>
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        
    </div>
</div>
{% endblock %}
{% block content %}

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Find More</h6>
                    <h2 class="mt-2">the job opportunity</h2>
                </div>
            </div>
        </div>

        <div class="p-4 row">
            <div class="col-md-3 wow zoomIn" style="margin-left: 5rem;" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column rounded" style="box-shadow: 0 0 45px rgba(0, 0, 0, .3);">
                    <div class="d-flex">
                        <img class="mb-3 company-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKWgStyZIRMBw2vhADy9q8GTi-MXXmwc0wADdN&s=0" alt="">
                        <img class="mb-3 ms-auto verified" src="https://s1.ax1x.com/2022/06/03/XUj8XR.png" alt="">
                    </div>
                    <h5 class="mb-1">Software Developer</h5>
                    <p class="mb-3" style="color: var(--dark)">Google</p>
                    <p class="mb-0" style="font-size:small"> Singapore</p>
                    <p style="font-size:small"> SGD 8.5K monthly</p>
                    <ul>
                        <li>Full-time</li>
                        <li>Bachelor's degree in Computer Science or related engineering field, or equivalent practical experience.</li>
                        <li>5 years of coding experience in one or more of the following languages: C, C++, Java, or Python.</li>
                    </ul>
                    <div class="d-flex">
                        <div class="ms-2">
                            <p class="mb-0" style="font-size:small"> 5 days ago</p>
                            <p class="mb-0" style="font-size:10px; color:green">ALiCzsbYbsXe38y4vRcsRWWIERRlKY6GYA</p>
                        </div>
                        <div class="ms-auto row">
                            <a class="col-md-6 btn1 btn px-3 mt-auto">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8  mt-5">
                <div class="testimonial-item bg-transparent border rounded p-3" style="color: gray">
                    <i class="fa fa-quote-left fa-2x mb-3 text-primary"></i>
                    <p><b>HR contact:</b> amelia_hr@google.us.com</p>
                    <p><b>Verified Job Posts over 3 months:</b> 19</p>
                    <p><b>Location: </b> Company Address : 8, MARINA BOULEVARD, #05-02, MARINA BAY FINANCIAL CENTRE, SINGAPORE 018981
                    </p>
                    <p><i class="fa fa-warning fa-1x text-warning"></i> If you find anything inappropiate in this job opportunity, please <a href="#"> Contact Us </a> to report.</p>
                     <a href="#" class="btn btn-outline-primary py-2 px-4">Certification</a>
                                        
                </div>
                
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <div class="col-md-3 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column rounded">
                    <div class="d-flex">
                        <img class="mb-3 company-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKWgStyZIRMBw2vhADy9q8GTi-MXXmwc0wADdN&s=0" alt="">
                        <img class="mb-3 ms-auto verified" src="https://s1.ax1x.com/2022/06/03/XUj8XR.png" alt="">
                    </div>
                    <h5 class="mb-1">Software Developer</h5>
                    <p class="mb-3" style="color: var(--dark)">Google</p>
                    <p class="mb-0" style="font-size:small"> Singapore</p>
                    <p style="font-size:small"> SGD 8.5K monthly</p>
                    <ul>
                        <li>Full-time</li>
                        <li>Bachelor's degree in Computer Science or related engineering field, or equivalent practical experience.</li>
                        <li>5 years of coding experience in one or more of the following languages: C, C++, Java, or Python.</li>
                    </ul>
                    <div class="d-flex">
                        <div class="ms-2">
                            <p class="mb-0" style="font-size:small"> 5 days ago</p>
                            <p class="mb-0" style="font-size:10px; color:green">ALiCzsbYbsXe38y4vRcsRWWIERRlKY6GYA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin: 20px;" class="row wow zoomIn" data-wow-delay="0.1s">
            <div class="col-md-2"></div>
            <img class="col-md-8" src="https://farm5.staticflickr.com/4377/36402397450_02539c7a70_o.png" alt="" alt="">
            <div class="col-md-2"></div>
        </div>

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-3 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Read More</h6>
                    <h2 class="mt-2">helpful peer reviews</h2>
                </div>
            </div>
        </div>


        <div class="bg-primary testimonial py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Lingxuan Zhao</h6>
                                <small>Year2 CS student in NTU </small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Ng Zhi Quan</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Steven Tung</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Jiang lei</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl py-5 mt-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-3 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Know More</h6>
                    <h2 class="mt-2">verified company details</h2>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay="0.1s">
            <form class="col-md-8">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="companyname" placeholder="Company Name" disabled="disabled">
                            <label for="companyname">GOOGLE SINGAPORE PTE. LTD.</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="UEN" placeholder="Unique Entity Number" disabled="disabled">
                            <label for="UEN">UEN : 200605367W </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="registereddate" placeholder="dd/mm/yyyy" disabled="disabled">
                            <label for="registereddate">Date of Incorporation : dd/mm/yyyy</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="expiredate" placeholder="dd/mm/yyyy" disabled="disabled">
                            <label for="expiredate">Date of Expiry : dd/mm/yyyy</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="phone" id="phone" class="form-control" placeholder="xxxxxxxx" disabled="disabled">
                            <label for="phone">Company Phone : 12345678</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="email" id="email" class="form-control" placeholder="name@example.com" disabled="disabled">
                            <label for="email">Company Email : hr@google.com</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" id="address" class="form-control" placeholder="address" disabled="disabled">
                            <label for="address">Company Address : 8, MARINA BOULEVARD, #05-02, MARINA BAY FINANCIAL CENTRE, SINGAPORE 018981</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- <button class="btn btn-primary w-100 py-3" type="submit">Sign up</button> -->
                        <a class="btn btn-primary w-100 py-3" href="https://www.bizfile.gov.sg/ngbbizfileinternet/faces/oracle/webcenter/portalapp/pages/BizfileHomepage.jspx">Business Docs</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="container-xxl py-5 mt-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-3 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Connect More</h6>
                    <h2 class="mt-2">work together to build a Better New World</h2>
                </div>
            </div>
        </div>
        {% endblock %} 