{% extends "base.html" %}
{% load static %}
{% block title %}<title>Match with a Job</title>{% endblock %}
{% block menu %}
    <div class="navbar-nav ms-auto py-0">
        <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'jobs' %}" class="nav-item nav-link">Jobs</a>
        <a href="{% url 'post' %}" class="nav-item nav-link">Post</a>
        <a href="{% url 'match' %}" class="nav-item nav-link active">Match</a>
    </div>
    <a href="{% url 'login' %}" class="btn btn-outline-light text-light py-2 px-4 ms-5">Login</a>
{% endblock %}
{% block top %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5" style="padding-bottom: 0rem !important;">
        <div class="container my-5 py-5 px-lg-5" style="margin-bottom: 0rem !important;">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated zoomIn">Match Jobs for You</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <p class="text-white">Submit your info to view matched jobs for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 60%;">
                        <div class="bg-light rounded h-100 d-flex align-items-center p-4">
                            <form>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Highest Qualification</option>
                                            <option value="1">Diploma</option>
                                            <option value="2">Degree</option>
                                            <option value="3">Master</option>
                                            <option value="4">Phd</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Location</option>
                                            <option value="1">Tampines</option>
                                            <option value="2">Bugis</option>
                                            <option value="3">Jurong East</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Industry</option>
                                            <option value="1">IT & Communication</option>
                                            <option value="2">Food & Beverage</option>
                                            <option value="3">Retail</option>
                                            <option value="4">Healthcare</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control border-0" placeholder="Job Position" style="height: 55px;">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Job Type</option>
                                            <option value="1">Full-time</option>
                                            <option value="2">Part-time</option>
                                            <option value="3">Internship</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select border-0" style="height: 55px;">
                                            <option selected>Industry Experience</option>
                                            <option value="1">Entry-level</option>
                                            <option value="2">Junior</option>
                                            <option value="3">Senior</option>
                                        </select>
                                    </div>

                                    <div class="container">
                                        <h6 class="position-relative d-inline ps-4">Skills</h6>
                                        <div class="accordion-head" style="margin-left: 2rem;">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyOne" aria-expanded="false" aria-controls="accordionBodyOne"
                                                  class="collapsed">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <ul class="ks-cboxtags" style="padding-top: 0rem; padding-bottom: 0rem; margin-bottom: 0; ">
                                          <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label for="checkboxOne">Software development</label></li>
                                          <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy"><label for="checkboxTwo">Decision Making</label></li>
                                          <li><input type="checkbox" id="checkboxThree" value="Rarity"><label for="checkboxThree">Project management</label></li>
                                          <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label for="checkboxFour">JavaScript</label></li>
                                        </ul>
                                        
                                        <div id="accordionBodyOne" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingOne" aria-expanded="false">
                                        <ul class="ks-cboxtags" style="padding-top: 0rem; padding-bottom: 0rem; margin-top: 0;">
                                          <li><input type="checkbox" id="checkboxFive" value="Surprise"><label for="checkboxFive">Information systems design</label></li>
                                          <li><input type="checkbox" id="checkboxSix" value="Twilight Sparkle"><label for="checkboxSix">SQL</label></li>
                                          <li><input type="checkbox" id="checkboxSeven" value="Fluttershy"><label for="checkboxSeven">Business process analysis</label></li>
                                          <li><input type="checkbox" id="checkboxNine" value="Princess Celestia"><label for="checkboxNine">Deployment</label></li>
                                          <li><input type="checkbox" id="checkboxEight" value="Derpy Hooves"><label for="checkboxEight">Proposal Writing </label></li>
                                          <li><input type="checkbox" id="checkboxTen" value="Gusty"><label for="checkboxTen">Python</label></li>
                                          <li><input type="checkbox" id="checkboxFifteen" value="Firefly"><label for="checkboxFifteen">Chinese</label></li>
                                          <li class="ks-selected"><input type="checkbox" id="checkboxEleven" value="Discord"><label for="checkboxEleven">Linux operating systems</label></li>
                                          <li><input type="checkbox" id="checkboxTwelve" value="Clover"><label for="checkboxTwelve">Problem-Solving</label></li>
                                          <li><input type="checkbox" id="checkboxThirteen" value="Baby Moondancer"><label for="checkboxThirteen">Design Thinking</label></li>
                                          <li><input type="checkbox" id="checkboxFourteen" value="Medley"><label for="checkboxFourteen">Leadership</label></li>
                                        </ul>
                                        </div>
                                      </div>




                                      <div class="box" style="padding-bottom: 1rem;">
                                        <h6>Expected Salary</h6>
                                        <div class="values">
                                            <div>$<span id="first"></span></div> - <div>$<span id="second"></span></div>
                                        </div>
                                    
                                        <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third"></div>
                                    
                                    </div>
                                    <a class="dribbble" href="https://dribbble.com/shots/7268454-Rubber-Slider" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Match</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6" style="width: 40%; padding-left: 5%;">
                        <h1 class="animated zoomIn text-center">Match Job For You </h1>
                            <hr class="mx-auto mt-1" style="width: 90px;">
                            <div style="margin-top: 3rem;">
                                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="img/about.jpg">
                            </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Start -->
        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Our Projects</h6>
                    <h2 class="mt-2">Recently Launched Projects</h2>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="btn px-3 pe-4 active" data-filter="*">All</li>
                            <li class="btn px-3 pe-4" data-filter=".first">Design</li>
                            <li class="btn px-3 pe-4" data-filter=".second">Development</li>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow zoomIn" data-wow-delay="0.1s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow zoomIn" data-wow-delay="0.3s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow zoomIn" data-wow-delay="0.6s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow zoomIn" data-wow-delay="0.1s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow zoomIn" data-wow-delay="0.3s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow zoomIn" data-wow-delay="0.6s">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="img/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->
{% endblock %}