{% extends "base.html" %}
{% load static %}
{% block title %}<title>Post a Job</title>{% endblock %}
{% block menu %}
    <div class="navbar-nav ms-auto py-0">
        <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'jobs' %}" class="nav-item nav-link">Jobs</a>
        <a href="{% url 'post' %}" class="nav-item nav-link active">Post</a>
        <a href="{% url 'match' %}" class="nav-item nav-link">Match</a>
    </div>
    <a href="{% url 'login' %}" class="btn btn-outline-light text-light py-2 px-4 ms-5">Login</a>
{% endblock %}
{% block top %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5" style="padding-bottom: 0rem !important;">
        <div class="container my-5 py-5 px-lg-5" style="margin-bottom: 0rem !important;">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated zoomIn">Post Job Opportunity </h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <p class="text-white">Upload details of job opportunity to <br>verify its authencity.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
        <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Post</p>
                    <h1 class="mb-4">Validate Job Opportunity</h1>
                    <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                    <img class="img-fluid mt-5" style="height: 250px;" src="{% static 'img/newsletter.png' %}">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Company Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected>Location</option>
                                        <option value="1">Tampines</option>
                                        <option value="2">Bugis</option>
                                        <option value="3">Jurong East</option>
                                    </select>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Job Title" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="number" class="form-control border-0" placeholder="Salary" style="height: 55px;">
                                </div>
                                
                                <!--
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                -->
                                <div class="col-12">
                                    <textarea class="form-control border-0" rows="5" placeholder="Job Description"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Post it!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
{% endblock %}