{% extends "base.html" %}
{% load static %}
{% block title %}<title>Register Page</title>{% endblock %}
{% block menu %}
    <div class="navbar-nav ms-auto py-0">
        <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'jobs' %}" class="nav-item nav-link">Jobs</a>
        <a href="{% url 'post' %}" class="nav-item nav-link">Post</a>
        <a href="{% url 'match' %}" class="nav-item nav-link">Match</a>
        <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
    </div>

{% endblock %}
        {% block top %}
        <div class="container-xxl py-5 bg-primary hero-header mb-5"></div>
        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Verified</h6>
                    <h2 class="mt-2">the job opportunity</h2>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}
        <div class="d-flex justify-content-center">
            <div class="col-md-3 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column rounded">
                    <div class="d-flex">
                        <img class="mb-3 company-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKWgStyZIRMBw2vhADy9q8GTi-MXXmwc0wADdN&s=0" alt="">
                        <img class="mb-3 ms-auto verified" src="https://s1.ax1x.com/2022/06/03/XUj8XR.png" alt="">
                    </div>
                    <h5 class="mb-1">Software Developer</h5>
                    <p class="mb-3" style="color: var(--dark)">Google</p>
                    <p class="mb-0" style="font-size:small"> Singapore</p>
                    <p style="font-size:small"> SGD 8.5K monthly</p>
                    <ul>
                        <li>Full-time</li>
                        <li>Bachelor's degree in Computer Science or related engineering field, or equivalent practical experience.</li>
                        <li>5 years of coding experience in one or more of the following languages: C, C++, Java, or Python.</li>
                    </ul>
                    <div class="d-flex">
                        <div class="ms-2">
                            <p class="mb-0" style="font-size:small"> 5 days ago</p>
                            <p class="mb-0" style="font-size:10px; color:green">ALiCzsbYbsXe38y4vRcsRWWIERRlKY6GYA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin: 20px;" class="row wow zoomIn" data-wow-delay="0.1s">
            <div class="col-md-2"></div>
            <img class="col-md-8" src="https://farm5.staticflickr.com/4377/36402397450_02539c7a70_o.png" alt="" alt="">
            <div class="col-md-2"></div>
        </div>

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Find More</h6>
                    <h2 class="mt-2">match your powerful employees !</h2>
                </div>
            </div>
        </div>


        <div class="bg-primary testimonial py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Lingxuan Zhao</h6>
                                <small>Year2 CS student in NTU </small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Ng Zhi Quan</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Steven Tung</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4">
                        <i class="fa fa-quote-left fa-2x mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Jiang lei</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <div class="container-xxl py-5 mt-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Connect More</h6>
                    <h2 class="mt-2">work together to build a Better New World</h2>
                </div>
            </div>
        </div>
        {% endblock %}
