{% extends "base.html" %}
{% load static %}
{% block title %}<title>Register</title>{% endblock %}
{% block top %}
<div class="container-xxl py-5 bg-primary hero-header mb-5"></div>
{% endblock %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mt-2">Register with us as</h2>
                </div>
                <div class="row">
                    
                    <button href="{% url 'signupuser' %}" class="btn col btn-secondary btn-lg py-2 px-4 ms-5" style="height: 300px; background-color: rgba(0, 217, 255, 0.1)"><a href="{% url 'signupuser' %}">User</a></button>
                    <button href="{% url 'signupcompany' %}" class="btn col btn-secondary btn-lg py-2 px-4 ms-5" style="height: 300px; background-color: rgba(0, 81, 255, 0.1)"><a href="{% url 'signupcompany' %}">Company</a></button>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}