{% extends "base.html" %}
{% load static %}
{% block title %}<title>Register Page</title>{% endblock %}
{% block menu %}
    <div class="navbar-nav ms-auto py-0">
        <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'jobs' %}" class="nav-item nav-link">Jobs</a>
        <a href="{% url 'post' %}" class="nav-item nav-link">Post</a>
        <a href="{% url 'match' %}" class="nav-item nav-link">Match</a>
        <a href="{% url 'login' %}" class="nav-item nav-link active">Login</a>
    </div>

{% endblock %}
{% block top %}
<div class="container-xxl py-5 bg-primary hero-header mb-5"></div>
{% endblock %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mt-2">Register with us</h2>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="firstname" placeholder="John">
                                    <label for="firstname">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lastname" placeholder="Doe">
                                    <label for="lastname">Last name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="dob" placeholder="DD/MM/YYYY">
                                    <label for="dob">Date of Birth</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" id="email" class="form-control" placeholder="name@example.com" />
                                    <label for="email">Email Address</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="password" id="password" class="form-control" placeholder="Password"/>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input class="form-control" type="file" id="Businessdocs" multiple />
                                    <label for="Businessdocs" class="form-label">Upload certificates</label>
                                </div>
                            </div>
                            <!--
                            Can't seem to get it to work
                            https://www.codingnepalweb.com/drag-drop-file-upload-feature-javascript/
                            <div class="col-12">
                                <div class="drag-area">
                                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                        <header>Drag & Drop to Upload File</header>
                                        <span>OR</span>
                                        <button>Browse File</button>
                                        <input class="form-control" type="file" id="Businessdocs" multiple hidden />
                                    </div>
                                    
                                </div>
                            -->
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}